/* Buttons */
/* Buttons */
/* Buttons */

.btn{
  cursor: pointer;
  background-color: var(--clr-brand);
  display: inline-flex;
  align-items: center;
  border: none;

  padding: 12px 20px;
  gap: 12px;
  border-radius: 2px;
  font-size: 1.6rem;

  line-height: 1.8rem;
  font-weight: normal;


  color: var(--clr-text-2);
  

}

.btn--outlined{
  background-color: var(--clr-bg-2);
  border: 1px solid var(--clr-brand);
  color: var(--clr-brand);
}

/* Inputs */
/* Inputs */
/* Inputs */

.input{
  border: 1px solid var(--clr-brand);
  border-radius: 2px;
  padding: 16px 20px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--clr-brand);
  line-height: 18px;

}

.input::placeholder{
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--clr-brand);
  font-family: "Spartan";
  line-height: 18px;

}

.input-wrapper{
  position: relative;

}

.input-wrapper input{
  width: 100%;
}

.input-wrapper img{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-22px, -50%);


}

/* header */
/* header */
/* header */

.header{
  font-weight: 700;
  line-height: 8rem;

}

.header h2,
.header h1{
  font-size: 4.8rem;
}

/* with dark bg */
.header--primary{
  color: var(--clr-text-2);
  background-color: var(--clr-bg-1);

}

/* with light bg */
.header--secondary{
  color: var(--clr-text-1);
  background-color: var(--clr-secondary);
  
}



/* Burger */
/* Burger */
/* Burger */

.burger{
  --p: 0.7rem;

  cursor: pointer;
  width: 5rem;
  height: 4rem;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--p);
  justify-content: space-between;
  background-color: transparent;


}


.burger__line{
  width: calc(100% - var(--p) * 2);
  height: 3px;

  background-color: var(--clr-brand);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  position: absolute;

}

.burger__line--1{
  top: var(--p);
  

}

.burger__line--2{
  /* transform: translate(0px, 0px) rotate(45deg); */
  top: 50%;
  transform: translate(0%, -50%);

}

.burger__line--3{
  bottom: var(--p);

}

/* active */
.burger.opened .burger__line--1{
  top: 50%;
  transform: translate(0, -50%) rotate(315deg);
  /* background-color: red; */
}

.burger.opened .burger__line--2{
  transform: translate(-70%, 0);
  opacity: 0;
  
}

.burger.opened .burger__line--3{
  bottom: 50%;
  transform: translate(0, 50%) rotate(-315deg);
  /* background-color: yellow; */


}