.embassy-information{
  padding-top: 10rem;

}

.embassy-information__container{
  margin-top: 6rem;

}

.embassy-information-form{
  display: flex;
  padding: 40px 84px;
  gap: 40px;

  align-items: center;

  background: rgba(176, 223, 255, 0.3);
  border-radius: 2px;

  margin-bottom: 10rem;

}

.embassy-information-form .select2-container{
  width: 350px !important;

}

.embassy-information-form__hr{
  height: 50px;
  width: 1px;
  background-color: #fff;

}

.embassy-information-form .btn{
  height: 50px;
  flex-grow: 1;
}

.embassy-info-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  max-width: 100rem;

}

.embassy-info-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 40px;
  border: 1px solid #B0DFFF;
  border-radius: 2px;

}
.embassy-info-card h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: var(--clr-brand);

}

.embassy-info-card li{
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-bottom: 2rem;


  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color:  var(--clr-text-1);
}



@media (max-width: 950px){
  .embassy-info-list{
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  
  }

  .embassy-info-card{
  }

}

@media (max-width: 950px){
  .embassy-info-list{
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  
  }
  .embassy-information-form .btn{
    margin-left: 0;
  }

  .embassy-info-card{
  }

}


@media (max-width: 900px){
 
  .header{
    text-align: center;
  }

  .embassy-information-form {
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }


  .embassy-information-form > *{
    width: 550px !important;
    max-width: 100%;
  }
  .embassy-information-form .select2-container{
    width: 550px !important;
  }

  .embassy-information-form__hr{
    display: none;
  }
  
  .embassy-info-card{
    max-width: 600px;
    margin-inline: auto;
  }

}

@media (max-width: 700px) {

  .embassy-information-form {
      padding: 4rem;
  }
}

@media (max-width: 500px) {

  .embassy-information-form {
      padding: 2rem;
  }
}