.faq{
  padding-top: 10rem;

}

.faq__container{
  margin-top: 6rem;

}


.accordion{
  background: rgba(176, 223, 255, 0.3);
  border-radius: 2px;

  padding: 40px 60px;
}


.accordion-item{
  border: 1px solid #385C94;
  margin-bottom: 3rem;

}

.accordion-item:last-child{
  margin-bottom: 0;
}

/* Header all */
.accordion-header{
  background: #FFFFFF;

  border-radius: 2px;

}

.accordion-button{
  background: #FFFFFF;
  width: 100%;
  padding: 16px 20px;
  padding-right: 3.5rem;

  cursor: pointer;
  border: none;
  display: flex;
  justify-content: start;

  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;

  color: #274E68;
  text-align: start;

  position: relative;


}

.faq-arrow{
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(0, -50%);
  transition: 0.3s ease-in-out;

}

.accordion-button--active .faq-arrow{
  transform: translate(0, -50%) rotate(180deg);

}

/* BODY ALL */
.accordion-collapse{
  /* display: none; */
  padding-top: 0;
  background-color: #fff;

  height: 0px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  
}

.accordion-collapse.show{
  /* display: block; */

}

.accordion-body-wrapper{

}

.accordion-body{
  padding: 16px;
  position: relative;

}

.accordion-body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
  height: 1px;
  background-color: var(--clr-secondary);
}

.accordion-body p{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */


  /* Text color */

  color: #274E68;

}

@media (max-width: 800px){

  .accordion{
    padding: 4rem;
  }
}

@media (max-width: 700px){
  .header{
    text-align: center;
  }

  .accordion{
    padding: 3rem;
  }
  .accordion-button{
    font-size: 1.6rem;

  }
}

@media (max-width: 700px){
  .header h1{
    font-size: 3rem;
  }

  .accordion{
    padding: 2rem;
  }

  .accordion-item{
    margin-bottom: 2.5rem;
  }


  .accordion-button{
    font-size: 1.6rem;
    padding: 1rem;
    padding-right: 3.5rem;

  }
  
  .accordion-collapse{
    font-size: 1.4rem;
    padding-top: 0;
    
  }

  .accordion-body{
    margin-top: 0;
    padding-top: 1rem;
    padding: 1rem;

  }

  .accordion-body::before{
 
    left: 1rem;
    right: 1rem;
  }
  
  
}

@media (max-width: 500px) {

  .faq__container{
    padding: 0;
  }

  .faq-arrow{
  right: 1rem;

  }
  
}