.faq{
  padding-top: 10rem;

}

.faq__container{
  margin-top: 6rem;

}


.accordion{
  background: rgba(176, 223, 255, 0.3);
  border-radius: 2px;

  padding: 40px 60px;
}


.accordion-item{
  border: 1px solid #385C94;
  margin-bottom: 3rem;

}

.accordion-item:last-child{
  margin-bottom: 0;
}

/* Header all */
.accordion-header{
  background: #FFFFFF;

  border-radius: 2px;

}

.accordion-button{
  background: #FFFFFF;
  width: 100%;
  padding: 16px 20px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: start;

  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;

  color: #274E68;
  text-align: start;


}


/* BODY ALL */
.accordion-collapse{
  display: none;
  padding: 16px 20px;
  padding-top: 0;
  background-color: #fff;
  
}

.accordion-collapse.show{
  display: block;
}

.accordion-body{
  border-top: 1px solid #D7EFFF;
  padding-top: 16px;

}

.accordion-body p{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */


  /* Text color */

  color: #274E68;

}

@media (max-width: 800px){

  .accordion{
    padding: 4rem;
  }
}

@media (max-width: 700px){
  .header{
    text-align: center;
  }

  .accordion{
    padding: 3rem;
  }
  .accordion-button{
    font-size: 1.6rem;

  }
}

@media (max-width: 700px){
  .header h1{
    font-size: 3rem;
  }

  .accordion{
    padding: 2rem;
  }

  .accordion-item{
    margin-bottom: 2.5rem;
  }


  .accordion-button{
    font-size: 1.6rem;
    padding: 1rem;

  }
  
  .accordion-collapse{
    padding: 1rem;
    font-size: 1.4rem;
    padding-top: 0;
    
  }

  .accordion-body{
    margin-top: 0;
    padding-top: 1rem;
  }
  
  
}

@media (max-width: 500px) {
  .faq__container{
    padding: 0;
  }
  
}