
body{
  --navbar-height:7.88rem; 
  padding-top: var(--navbar-height);
}

/* Navbar Start */
.navbar{
  padding: 1.2rem 0rem;

  
  background-color: var(--clr-bg-2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(215, 239, 255, 0.25);
  z-index: 100;

}

.navbar .burger{
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(0, -50%);

  display: none;

}

.navbar__container{
  display: flex;
  align-items: center;


}



.navbar__logo{
  /* width: 100px; */
}

.navbar__nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;


}

.navbar__nav{
  margin-bottom: 0.5rem;
  margin-left: 4rem;

  display: flex;
  gap:2.4rem;
}

.navbar__nav a{
  color: var(--clr-brand);
  font-weight: bold;

}

.navbar__btns{

  display: flex;
  align-items: center;
  gap: 2rem;

}

.navbar__btns__hr{
  width: 1px;
  background-color: var(--clr-primary);
  align-self: stretch;
  border-radius: 1px;

}
/* Navbar END */


/* Hero start */
.hero{
  min-height: 700px;
  padding: 0.5rem 0rem;


  /* background-image: linear-gradient(180deg, rgba(1, 6, 51, 0) 44.82%, #011B33 100%), url(../images/justin-kauffman-fM0ZBklturE-unsplash\ 2.svg); */
  background-image: linear-gradient(180deg, rgba(1, 6, 51, 0) 44.82%, #011B33 100%), url(../images/justin-kauffman-fM0ZBklturE-unsplash\ 2.png);
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  /* background-position: 0 -100px; */

  color: var(--clr-brand);


}

.hero h1{
  font-weight: 700;
  font-size: 40px;
  margin-top: 10rem;

  font-weight: 900;
  font-size: 4rem;
  line-height: 8rem;
}

.hero p{
  font-size: 2.4rem;
  font-weight: bold;
}

.get-started{
  background: rgba(176, 223, 255, 0.3);
  border-radius: 2px;

  display: flex;
  padding: 40px 84px;
  gap: 40px;
  border-radius: 2px;
  margin-top: 100px;
}

.get-started input{
  flex-grow: 1;
}

.get-started__hr{
  width: 1px;
  background-color: white;

  /* background-color: red; */
}
/* Hero End */



/* How it works Start */
.works{
  padding-top: 10rem;

}


.steps-list{
  margin-top: 5rem;
  display: flex;
  gap: 2rem;

}

.card{

  display: flex;
  flex-direction: column;
  gap: 2.8rem;

  padding: 2rem;
  border: 1px solid var(--clr-primary);

  color: var(--clr-brand);

  width: 100%;
  align-items: center;
  border-radius: 2px;

}

.step-card__img-wrapper{
  border-radius: 100%;
  width: 16rem;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-primary);
}

.card img{
  width: 6rem;

}

.card h3{
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;

}

.card p{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--clr-text-1);
  text-align: center;
}
/* How it works END */



/* Choose us start */
.features{
  padding-top: 10rem;

}

.features header{
  background-color: var(--clr-bg-1);
  color: var(--clr-secondary);
  font-weight: 700;
  line-height: 80px;
}


.features header h2{
  font-size: 4.8rem;
}

.features-list{
  margin-top: 5rem;
  gap: 2rem;
  display: flex;
}

.features-card img{
  width: 16rem;
}

.features-list{
  color: var(--clr-text-1);
}
/* Choose us END */



/* --------------- *\
 # Feedback Start
\* --------------- */

.feedback{
  padding-top: 10rem;

}

.feedback-list{
  border: 2px solid var(--clr-primary);

  display: flex;
  gap: 6rem;
  padding: 4rem 8.2rem;
  margin-top: 6rem;
  justify-content: space-between;
  border-radius: 2px;

}

.feedback-list span{
  font-weight: bold;
  display: inline-block;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 2rem;
  color: var(--clr-text-1)

}


/* --------------- *\
 # Destinations Start
\* --------------- */

.destinations{
  padding-top: 10rem;
}

.destinations-list{
  margin-top: 6rem;
  display: flex;
  gap: 6rem;


}

.destination-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

}

.destination-card img{
  border-radius: 100%;
  width: 182px;

}

.destinations .btn{
  display: block;
  margin-left: auto;
  margin-top: 4rem;
}

/* --------------- *\
 # Blog and news start
\* --------------- */

.news{
  margin-top: 10rem;
}


.news-list{
  margin-top: 6rem;


  display: flex;
  gap: 2rem;

}

.news-card{
  border: 1px solid var(--clr-primary);
  padding: 1.6rem 1.2rem;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
}

.news-card img{
  margin-bottom: 2rem;
  width: 100%;
  object-fit: cover;
  height: 193px;
  border-radius: 2px;
}

.news-card h3{
  font-weight: 600;
  font-size: 23px;
  line-height: 33px;
  color: var(--clr-brand);
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;

}

.news-card p{
  margin-top: 1.2rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--clr-text-1);
  max-height: 224px;
  overflow: hidden;
}

.news .btn{
  display: flex;
  margin-left: auto;
  margin-top: 4rem;

}

/* --------------- *\
 # Page List Start
\* --------------- */

.page-list__container{
  display: flex;
  gap: 2rem;
  margin-top: 10rem;
}

.page-list-card{
  padding: 40px 28px;
  background: rgba(176, 223, 255, 0.3);
  border-radius: 2px;
  display: flex;
  text-align: center;

  width: 100%;

}

.page-list-card .btn{
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;

  font-weight: 500;
font-size: 22px;
line-height: 25px;
text-transform: uppercase;
padding: 1.3rem 1.2rem;
background-color: var(--clr-bg-1);
color: var(--clr-text-2)
}


.page-list-card .btn img{
  /* margin-top: -2px; */
}

/* --------------- *\
 # Footer Start
\* --------------- */

.footer{
  margin-top: 10rem;
  padding: 2rem 0 2.5rem;
  /* border-top: 2px solid var(--clr-secondary); */
  box-shadow: 2px 0px 4px #D7EFFF;
 

}

.footer__container{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.footer__nav ul{
  display: flex;
  gap: 2rem;

}

.footer__nav ul a{
  color: var(--clr-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.footer p{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--clr-brand);
  max-width: 80rem;
  margin: auto;
}

.social-links{
  display: flex;
  gap: 2rem;

}


@media screen and (max-width: 1000px){

  /* navbar */
  .navbar .burger{
    display: block;
  }
  
  .navbar .burger.opened{
    right: 3.5rem;
  }

  .navbar__nav-container{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease;

    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 0;


  }



  .navbar__nav-container.opened{
    height: calc(100vh - var(--navbar-height));
  
  }


  .navbar__nav{
    margin-left: 0;
    order: 2;
    flex-direction: column;
    padding: 2rem;

  }

  .navbar__btns{
    order: 1;
    padding: 2rem;


  }

  .navbar__nav-container > *{
    opacity:0;
    transition: opacity 0.3s ease;
  }

  .navbar__nav-container.opened > *{
    opacity: 1;
  }

  
}