
body{
  --navbar-height:7.88rem; 
  padding-top: var(--navbar-height);
}

/* Navbar Start */
.navbar{
  padding: 1.2rem 0rem;

  
  background-color: var(--clr-bg-2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(215, 239, 255, 0.25);
  z-index: 100;

}

.navbar .burger{
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(0, -50%);

  display: none;

}

.navbar__container{
  display: flex;
  align-items: center;


}



.navbar__logo{
  /* width: 100px; */
}

.navbar__nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;


}

.navbar__nav{
  margin-bottom: 0.5rem;
  margin-left: 4rem;

  display: flex;
  gap:2.4rem;
}

.navbar__nav a{
  color: var(--clr-brand);
  font-weight: 500;

}

.navbar__btns{

  display: flex;
  align-items: center;
  gap: 2rem;

}

.navbar__btns__hr{
  width: 1px;
  background-color: var(--clr-primary);
  align-self: stretch;
  border-radius: 1px;

}
/* Navbar END */


/* Hero start */
.hero{
  min-height: 700px;
  padding: 0.5rem 0rem;


  /* background-image: linear-gradient(180deg, rgba(1, 6, 51, 0) 44.82%, #011B33 100%), url(../images/justin-kauffman-fM0ZBklturE-unsplash\ 2.svg); */
  /* background-image: linear-gradient(180deg, rgba(1, 6, 51, 0) 44.82%, #011B33 100%), url(../images/justin-kauffman-fM0ZBklturE-unsplash\ 2.png); */
  background-image: linear-gradient(180deg, rgba(1, 6, 51, 0) 44.82%, #011B33 100%), url(../images/hero-image.webp);
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  /* background-position: 0 -100px; */

  color: var(--clr-brand);


}

.hero h1{
  font-weight: 700;
  font-size: 40px;
  margin-top: 10rem;

  font-weight: 900;
  font-size: 4rem;
  line-height: 8rem;
}

.hero p{
  font-size: 2.4rem;
  font-weight: 500;
}

.get-started{
  background: rgba(176, 223, 255, 0.3);
  border-radius: 2px;

  display: flex;
  padding: 40px 84px;
  gap: 40px;
  border-radius: 2px;
  margin-top: 100px;
}

.get-started input{
  flex-grow: 1;
}

.get-started__hr{
  width: 1px;
  background-color: white;
}
/* Hero End */



/* How it works Start */
.works{
  padding-top: 10rem;

}


.steps-list{
  margin-top: 5rem;
  display: flex;
  gap: 2rem;

}

.card{

  display: flex;
  flex-direction: column;
  gap: 2.8rem;

  padding: 2rem;
  border: 1px solid var(--clr-primary);

  color: var(--clr-brand);

  width: 100%;
  align-items: center;
  border-radius: 2px;

}

.step-card__img-wrapper{
  border-radius: 100%;
  width: 16rem;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-primary);
}

.card img{
  width: 6rem;

}

.card h3{
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;

}

.card p{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--clr-text-1);
  text-align: center;
}
/* How it works END */



/* Choose us start */
.features{
  padding-top: 10rem;

}

.features-list{
  margin-top: 5rem;
  gap: 2rem;
  display: flex;
}

.features-card img{
  width: 16rem;
}

.features-list{
  color: var(--clr-text-1);
}
/* Choose us END */



/* --------------- *\
 # Feedback Start
\* --------------- */

.feedback{
  padding-top: 10rem;

}

.feedback-list{
  border: 2px solid var(--clr-primary);

  display: flex;
  gap: 5.4rem;
  padding: 4rem 7.8rem;
  margin-top: 6rem;
  justify-content: space-between;
  border-radius: 2px;

}

.feedback-list li{

  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: var(--clr-text-1);
}

.feedback-list span{
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
  color: #385C94;
  font-weight: bold;

  font-size: 21px;
}


/* --------------- *\
 # Destinations Start
\* --------------- */

.destinations{
  padding-top: 10rem;
}

.destinations-list{
  margin-top: 6rem;
  display: flex;
  gap: 6rem;


}

.destination-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

}

.destination-card img{
  border-radius: 100%;
  width: 182px;

}

.destination-card p{
  font-weight: 600;
}

.destinations .btn{
  display: block;
  margin-left: auto;
  margin-top: 4rem;
}

/* --------------- *\
 # Blog and news start
\* --------------- */

.news{
  margin-top: 10rem;
}


.news-list{
  margin-top: 6rem;


  display: flex;
  gap: 2rem;

}

.news-card{
  border: 1px solid var(--clr-primary);
  padding: 1.6rem 1.2rem;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
}

.news-card img{
  margin-bottom: 2rem;
  width: 100%;
  object-fit: cover;
  height: 193px;
  border-radius: 2px;
}

.news-card h3{
  font-weight: 600;
  font-size: 23px;
  line-height: 33px;
  color: var(--clr-brand);
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: lowercase;
}

.news-card h3::first-letter{
  text-transform: capitalize;
}


.news-card p{
  margin-top: 1.2rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--clr-text-1);
  max-height: 224px;
  overflow: hidden;
}

.news .btn{
  display: flex;
  margin-left: auto;
  margin-top: 4rem;

}

/* --------------- *\
 # Page List Start
\* --------------- */

.page-list__container{
  display: flex;
  gap: 2rem;
  margin-top: 10rem;
}

.page-list-card{
  padding: 40px 28px;
  border-radius: 2px;
  display: flex;
  text-align: center;

  width: 100%;

  background: rgba(176, 223, 255, 0.3);


}

.page-list-card .btn{
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;

  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  background-color: var(--clr-bg-1);
  color: var(--clr-text-2);


  gap: 12px;
  padding: 12px;



  background: #385C94;
  border-radius: 2px;
}


.page-list-card .btn img{
  /* margin-top: -2px; */
}

/* --------------- *\
 # Footer Start
\* --------------- */

.footer{
  margin-top: 10rem;
  padding: 2rem 0 2.5rem;
  /* border-top: 2px solid var(--clr-secondary); */
  box-shadow: 2px 0px 4px #D7EFFF;
 

}

.footer__container{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.footer__nav ul{
  display: flex;
  gap: 2rem;

}

.footer__nav ul a{
  color: var(--clr-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

}

.footer p{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--clr-brand);
  max-width: 80rem;
  margin: auto;


}

.social-links{
  display: flex;
  gap: 1.6rem;

}


@media screen and (max-width: 1000px){

  /* navbar */
  .navbar .burger{
    display: block;
  }
  
  .navbar .burger.opened{
    right: 3.5rem;
  }

  .navbar__nav-container{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease;

    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 0;


  }



  .navbar__nav-container.opened{
    height: calc(100vh - var(--navbar-height));
  
  }


  .navbar__nav{
    margin-left: 0;
    order: 2;
    flex-direction: column;
    padding: 2rem;

  }

  .navbar__btns{
    order: 1;
    padding: 2rem;


  }

  .navbar__nav-container > *{
    opacity:0;
    transition: opacity 0.3s ease;
  }

  .navbar__nav-container.opened > *{
    opacity: 1;
  }
  /* Navbar End */

  /* hero */
  /* hero */
  .hero{
    padding: 5rem 0;
  }
  
  .hero h1{
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.4;

  }
  
  .hero p{
  
  }
  
  .get-started{
    flex-direction: column;
    margin-top: 4rem;
   
  }

  .get-started__hr{
    display: none;
  }

  /* How it works */
  /* How it works */

    
  /* How it works Start */
  .works .header{
    text-align: center;
  }

  .steps-list{
    gap: 5rem;
    flex-direction: column;
    align-items: center;

  }

  .card{
    max-width: 400px;

  }
  /* How it works END */

  /* Features */
  /* Features */
  .features .header{
    text-align: center;
  }

  .features-list{
    flex-direction: column;
    align-items: center;

  }

  /* Feedback */
  /* Feedback */
  .feedback .header{
    text-align: center;
  }

    
  .feedback-list{
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem;
  }
  

  .feedback-list li{
    font-size: 16px;
  }

  /* Destinations */
  /* Destinations */
  .destinations .header{
    text-align: center;
  }

  .destinations-list{
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    row-gap: 4rem;

  }

  .destination-card img{
    margin-bottom: 2rem;
  }

  .destination-card:last-child{
    grid-column: 1/span 2;
  }

  .destinations .btn{
    margin-inline: auto;
  }

  /* Blog and news */
  /* Blog and news */

  .news .header{
    text-align: center;
  }

  .news-list{
    flex-direction: column;
    align-items: center;
    gap: 4rem;

  }

  .news-card{
    max-width: 400px;

  }

  .news .btn{
    margin-inline: auto;
  }

  /* Page list */
  /* Page list */

  .page-list__container{
    width: 500px;
    max-width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

  }


  /* Footer */
  /* Footer */
  .footer{
    /* background-color: red; */
    overflow: hidden;
  }

  .footer__container{
    /* background-color: green; */
  }

  .footer__logo{
    max-width: 100%;

  }

  .footer__nav ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }


  
}

@media (max-width: 700px){
  .hero {
    text-align: center;
  }
}

@media (max-width: 600px){
 .get-started{
  padding: 4rem;
 }
}

@media (max-width: 500px){
  .get-started{
    padding: 3rem;
    gap: 3rem;
  }
}

@media (max-width: 400px){
  .page-list-card .btn{
    font-size: 1.6rem;
  }

}

@media (max-width: 390px){

  
  .feedback-list{
    padding-top: 5rem;
  }

  .feedback-list li{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
    line-height: 1.5;
  }

  .feedback-list li:last-child{
    margin-bottom: 0;
  }

  .feedback-list li span{
    display: block;
    padding: 0;
    margin: 0;
    line-height: 1;
    margin-bottom: 1rem;
  }
}