.track-order{
  padding-top: 10rem;

}

.track-order__container{
  margin-top: 3.2rem;

}

.track-order h2{
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;

  color: var(--clr-text-1);



}

.track-order-form{
  margin: auto;
  margin-top: 10rem;

  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  gap: 28px;
  background: rgba(176, 223, 255, 0.3);
  border-radius: 2px;

  max-width: 64rem;

}

.track-order-form h3{
  margin-bottom: 1.4rem;

}

.track-order-form .btn{
  justify-content: center;
  text-transform: uppercase;
  /* same as Input height */
  height: 51px;
}

.track-order-form a {
  display: flex;
  gap:1rem;

}

.track-order-form a span{
  text-decoration: underline;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  color: var(--clr-text-1);

}

@media (max-width: 800px){

  .track-order h2{
    font-size: 2.2rem;
  }

}

@media (max-width: 600px){

  .track-order h2{
    font-size: 2.2rem;
  }


  .track-order-form{
    margin-top: 5rem;
    padding: 4rem;
  }

}

@media (max-width: 400px){
  .header{
    text-align: center;
  }

  .track-order h2{
    text-align: center;
    line-height: 1.3;
    margin-top: 1rem;
  }

  .track-order-form{
    margin-top: 5rem;
    padding: 2rem;
    text-align: center;
  }

  .track-order__container{
    margin-top: 2rem;
  }

  .track-order-form input{
    font-size: 1.4rem;
  }

  .track-order-form input::placeholder{
    font-size: 1.4rem;
  }

  .track-order-form a{
    justify-content: center;
  }


}